
.uploaderContainer
    .uploaderTop
        .uploaderTitle
            font-size: var(--font-size-header)
            font-weight: var(--font-weight-bold)
            color: var(--color-text-uploader)
        .uploaderAttention
            margin-top: var(--spacing-sm)
            display: flex
            width: fit-content
            padding: var(--spacing-sm) var(--spacing-mds)
            background-color: var(--color-surface-attention)
            gap: var(--spacing-sm)
            border-radius: var(--radius-full)
            img
                width: var(--scale-icon)
                height: var(--scale-icon)
            p
                color: var(--color-text-attention)
                font-size: var(--font-size-base)
                font-weight: var(--font-weight-base)
    .uploaderBottom
        display: flex
        justify-content: space-between
        margin-top: var(--spacing-ultra)
        p
            color: var(--color-text-muted)
            font-size: var(--font-size-base)
            font-weight: var(--font-weight-bold)
        .btnMuted
