.page
    background-color: var(--color-bg)
    box-sizing: border-box
    max-width: 904px
    width: 100%
    margin: 0 auto
    border-radius: var(--radius-container)
    overflow: hidden
    transition: var(--transition-base)
    .progress
        display: flex
        height: 16px
        margin-bottom: var(--spacing-big)
        .completed
            width: 60%
            background-color: var(--color-progress-completed)
        .noCompleted
            background-color: var(--color-progress-nocompleted)
            flex: 1
    .pageWrapper
        padding: 0 var(--spacing-ultra) var(--spacing-xl) var(--spacing-ultra)
        .questionSection
            .sectionTitle
                margin-top: var(--spacing-big)
                font-size: var(--font-size-header)
                font-weight: var(--font-weight-bold)
                color: var(--color-text-primary)
            .questionsContainer
                display: flex
                flex-direction: column
                gap: 30px
                margin-top: var(--spacing-lg)
                width: 100%
        .firstSection
            .sectionTitle
                font-size: var(--font-size-header)
                font-weight: var(--font-weight-bold)
                color: var(--color-text-primary)
            .questionsContainer
                display: flex
                flex-direction: column
                gap: var(--spacing-md)
                margin-top: var(--spacing-lg)
                width: 100%
            .attention
                margin-top: var(--spacing-ultra)
                padding: var(--spacing-md)
                background-color: var( --color-card-attention)
                border-radius: var(--radius-base)
                .attentionTop, .attentionBottom
                    display: flex
                    align-items: center
                    .handIcon, .flagIcon
                        width: 32px
                        height: 32px
                    .attentionText
                        font-size: var(--font-size-base)
                        font-weight: var(--font-weight-base)
                        color: var(--color-text-secondary)
                        margin-left: var(--spacing-md)
                .attentionBottom
                    margin-top: var(--spacing-md)
        .pageBottom
            display: flex
            justify-content: space-between
            align-items: end
            margin-top: var(--spacing-ultra)
            .stepMobile,.stepDesktop
                color: var(--color-text-muted)
                font-size: var(--font-size-base)
                font-weight: var(--font-weight-bold)
            .stepMobile
                display: none
            .buttonsContainer
                display: flex
                gap: var(--spacing-sm)
                .btnSubmitMuted
                    border: none
                    border-radius: var(--radius-full)
                    padding: var(--spacing-sm) var(--spacing-lg)
                    gap: var(--spacing-sm)
                    background-color: var(--color-btn-disabled)
                    transition: var(--transition-base)
                    display: flex
                    color: var(--color-text-muted)
                    font-weight: var(--font-weight-base)
                    font-size: var(--font-size-lg)
                    display: flex
                    justify-content: center
                    align-items: center
                    text-align: center
                    line-height: 1
                    svg
                        width: 24px
                        height: 24px
                        path
                            stroke: var(--color-text-muted)
                .btnSubmitDefault
                    border: none
                    border-radius: var(--radius-full)
                    padding: var(--spacing-sm) var(--spacing-lg)
                    gap: var(--spacing-sm)
                    background-color: var(--color-btn-default)
                    transition: var(--transition-base)
                    display: flex
                    color: var(--color-text-btn)
                    font-weight: var(--font-weight-base)
                    font-size: var(--font-size-lg)
                    display: flex
                    justify-content: center
                    align-items: center
                    text-align: center
                    line-height: 1
                    svg
                        width: 24px
                        height: 24px
                        path
                            stroke: var(--color-text-btn)
                    &:hover
                        cursor: pointer
                        background-color: var(--color-btn-hover)
                .backBtn
                    border: none
                    border-radius: var(--radius-full)
                    padding: var(--spacing-sm) var(--spacing-lg)
                    gap: var(--spacing-sm)
                    background-color: var(--color-btn-secondary-default)
                    transition: var(--transition-base)
                    display: flex
                    color: var(--color-text-secondary)
                    font-weight: var(--font-weight-base)
                    font-size: var(--font-size-lg)
                    display: flex
                    justify-content: center
                    align-items: center
                    text-align: center
                    line-height: 1
                    svg
                        width: 24px
                        height: 24px
                        path
                            stroke: var(--color-text-muted)
                    &:hover
                        cursor: pointer
                        background-color: var(--color-btn-secondary-hover)

@media (max-width: 1200px)
    .page
        max-width: 600px
        .progress
            margin-bottom: var(--spacing-xl)
            .completed
            .noCompleted
        .pageWrapper
            padding: 0 var(--spacing-lg) var(--spacing-lg) var(--spacing-lg)
            .firstSection
                .attention
                    margin-top: var(--spacing-big)

@media (max-width: 640px)
    .page
        max-width: 296px
        .progress
            margin-bottom: var(--spacing-xl)
            .completed
            .noCompleted
        .pageWrapper
            padding: 0 var( --spacing-md) var( --spacing-md) var( --spacing-md)
            .firstSection
                margin-top: var(--spacing-xl)
                .attention
                    margin-top: var(--spacing-xl)
                    .attentionTop, .attentionBottom
                        flex-direction: column
                        align-items: start
                        .attentionText
                            margin-left: 0
                            margin-top: var(--spacing-xs)
            .questionSection
                .sectionTitle
                    margin-top: var(--spacing-xl)
                .questionsContainer
                    gap: var(--spacing-md)
                    margin-top: var(--spacing-md)
                    width: 100%
                .sectionTitle:not(:first-child)
                    margin-top: var(--spacing-ultra)
            .pageBottom
                display: flex
                flex-direction: column
                justify-content: space-between
                align-items: end
                margin-top: var(--spacing-big)
                .stepDesktop
                    display: none
                .stepMobile
                    display: block
                    margin-top: var(--spacing-lg)
                .buttonsContainer
                    display: flex
                    flex-direction: column
                    gap: var(--spacing-sm)
                    width: 100%
