
.page
  background-color: var(--color-bg)
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  max-width: 904px
  width: 100%
  margin: 0 auto
  -webkit-border-radius: var(--radius-container)
  -moz-border-radius: var(--radius-container)
  border-radius: var(--radius-container)
  overflow: hidden
  -webkit-transition: var(--transition-base)
  -moz-transition: var(--transition-base)
  -o-transition: var(--transition-base)
  transition: var(--transition-base)
  -webkit-box-shadow: 5px 5px 10px #0000001a
  -moz-box-shadow: 5px 5px 10px #0000001a
  box-shadow: 5px 5px 10px #0000001a
  .progress
    display: -webkit-box
    display: -moz-box
    display: -ms-flexbox
    display: -webkit-flex
    display: flex
    height: 16px
    margin-bottom: var(--spacing-big)
    .completed
      background-color: var(--color-progress-completed)
      -webkit-animation: progressQuestion var(--transition-base) ease-out 0s forwards
      -moz-animation: progressQuestion var(--transition-base) ease-out 0s forwards
      -o-animation: progressQuestion var(--transition-base) ease-out 0s forwards
      animation: progressQuestion var(--transition-base) ease-out 0s forwards
      position: relative
      &::after
        content: ""
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 4px, rgba(255, 255, 255, 0.3) 4px, rgba(255, 255, 255, 0.3) 8px)
        background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 4px, rgba(255, 255, 255, 0.3) 4px, rgba(255, 255, 255, 0.3) 8px)
        background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 4px, rgba(255, 255, 255, 0.3) 4px, rgba(255, 255, 255, 0.3) 8px)
        background-image: repeating-linear-gradient(-45deg, transparent, transparent 4px, rgba(255, 255, 255, 0.3) 4px, rgba(255, 255, 255, 0.3) 8px)
        pointer-events: none
    .noCompleted
      background-color: var(--color-progress-nocompleted)
      -webkit-box-flex: 1
      -moz-box-flex: 1
      -webkit-flex: 1
      -ms-flex: 1
      flex: 1
  .pageWrapper
    padding: 0 var(--spacing-ultra) var(--spacing-xl) var(--spacing-ultra)

@media (max-width: 1200px)
  .page
    max-width: 600px
    .progress
      margin-bottom: var(--spacing-xl)
      .completed
        .noCompleted
    .pageWrapper
      padding: 0 var(--spacing-lg) var(--spacing-lg) var(--spacing-lg)

@media (max-width: 640px)
  .page
    max-width: 296px
    .progress
      margin-bottom: var(--spacing-xl)
      .completed
        .noCompleted
    .pageWrapper
      padding: 0 var( --spacing-md) var( --spacing-md) var( --spacing-md)

@-webkit-keyframes progressQuestion
  0%
  width: 0%
  100%
  width: 30%

@-moz-keyframes progressQuestion
  0%
  width: 0%
  100%
  width: 30%

@-o-keyframes progressQuestion
  0%
  width: 0%
  100%
  width: 30%

@keyframes progressQuestion
  0%
    width: 0%
  100%
    width: 30%
