*
  margin: 0
  padding: 0

body
  background-color: #f7f7f7
  display: flex
  justify-content: center
  width: 100%
  font-family: var(--font-primary)

input[type="file"]::file-selector-button

  display: none
