
.custom-datepicker
    padding: var(--spacing-form) var(--spacing-mds)
    border: var(--border-width ) solid var(--color-text-muted)
    -webkit-border-radius: var(--radius-base)
    -moz-border-radius: var(--radius-base)
    border-radius: var(--radius-base)
    font-size: var(--font-size-base)
    font-weight: var(--font-weight-base)
    background-color: #fff
    color: var(--color-text-muted)
    text-align: center
    width: -moz-fit-content
    width: -webkit-fit-content
    width: fit-content
    max-width: 99px
    max-height: 40px
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    cursor: pointer
    margin-top: var(--spacing-xs)
    outline: none
    &:hover
        border: var(--border-width ) solid var(--color-accent)

.custom-datepicker-selected
    padding: var(--spacing-form) var(--spacing-mds)
    border: var(--border-width ) solid var(--color-accent)
    -webkit-border-radius: var(--radius-base)
    -moz-border-radius: var(--radius-base)
    border-radius: var(--radius-base)
    font-size: var(--font-size-base)
    font-weight: var(--font-weight-base)
    background-color: #fff
    color: var(--color-text-secondary)
    text-align: center
    width: -moz-fit-content
    width: -webkit-fit-content
    width: fit-content
    max-width: 99px
    max-height: 40px
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    cursor: pointer
    margin-top: var(--spacing-xs)
    outline: none

.react-datepicker
    font-family: var(--font-primary)
    border: 1px solid #dddddd00
    -webkit-border-radius: 8px
    -moz-border-radius: 8px
    border-radius: 8px
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15)
    -moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15)
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15)
    position: absolute
    top: 0
    left: -50px

    &__header
        background-color: var(--color-bg)
        -webkit-border-top-left-radius: 8px
        -moz-border-radius-topleft: 8px
        border-top-left-radius: 8px
        border: none

    &__current-month
        color: var(--color-text-secondary)
        font-size: var(--font-size-header)

    &__navigation
        -webkit-transform: scale(0.7)
        -moz-transform: scale(0.7)
        -ms-transform: scale(0.7)
        transform: scale(0.7)
        color: var(--color-text-primary)

    &__day-name
        color: var(--color-text-muted)
        font-size: var(--font-size-xs)

    &__day-names
        border: none

    &__day
        color: var(--color-text-secondary)
        font-size: var(--font-size-lg)
        -webkit-tap-highlight-color: transparent

    &__day--outside-month
        opacity: 0

    &__day--selected
        background-color: var(--color-accent)
        color: white
        -webkit-border-radius: var(--radius-base)
        -moz-border-radius: var(--radius-base)
        border-radius: var(--radius-base)

    &__day:hover
        background-color: #e0f0ff
        -webkit-border-radius: var(--radius-base)
        -moz-border-radius: var(--radius-base)
        border-radius: var(--radius-base)
