.questionContainer
    width: 100%
    position: relative
    .questionTitle
        font-size: var(--font-size-lg)
        font-weight: var(--font-weight-base)
        color: var(--color-text-secondary)
    .questionInput
        box-sizing: border-box
        width: 100%
        padding: var(--spacing-form) var(--spacing-mds)
        color: var(--color-text-secondary)
        font-size: var(--font-size-base)
        font-weight: var(--font-weight-base)
        height: 40px
        border-radius: var(--radius-base)
        margin-top: var(--spacing-xs)
        border: var(--border-width) solid var(--color-outline-default)
        transition: var(--transition-base)
        &:focus
            outline: none
            border: var(--border-width) solid var(--color-outline-focus)
    .questionInputValue
        box-sizing: border-box
        width: 100%
        padding: var(--spacing-form) var(--spacing-mds)
        color: var(--color-text-secondary)
        font-size: var(--font-size-base)
        font-weight: var(--font-weight-base)
        height: 40px
        border-radius: var(--radius-base)
        margin-top: var(--spacing-xs)
        border: var(--border-width) solid var(--color-outline-focus)
        transition: var(--transition-base)
    .errorMessage
        color: var(--color-text-attention)
        font-size: var(--font-size-sm)
        position: absolute
        bottom: var(--validation-spacing)
